.App {
  text-align: center;
}
body {
  background-color: #590580;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Game_row {
  margin: auto;
}
canvas {
  margin-top: 5%;
  border-radius: 5%;
  margin-right: 10px;
  border: black;
}
#score {
  color: white;
  margin-top: 1%;
  font-size: 50px;
}
button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffdd00f6;
  height: 20%;
  width: 20%;
  border: rgb(40, 44, 52, 0);
  border-radius: 5%;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
